@import url(https://fonts.google.com/specimen/Quicksand);
#head h1  {
font-size: 50px;
text-align: left;
background-color: rgba(179,94,186,1);
background: -webkit-linear-gradient(bottom, rgba(179,94,186,1), rgba(209,121,207,.5));
background: -moz-linear-gradient(bottom, rgba(179,94,186,1), rgba(209,121,207,.4));
background: linear-gradient(bottom, rgba(179,94,186,1), rgba(209,121,207,.4));
font-family: "Quicksand", sans-serif;
margin: 0;
padding-top: 50px;

}

header {
      text-align: center;
      background-color: black;
      background-size: cover;
      color: white;
      display: block;
    }

/*font for quotations*/
@import url(https://fonts.google.com/specimen/Bellefair);
.quotations h1 {
  font-size: 28px;
  text-align: center;
  font-family: "Bellefair", serif;
  max-width: 900px;
  padding: 70px;
  position: relative;
}
/*font for subtext*/
h2 {
font-size: 18px;
text-align: left;
font-family: "Quicksand", sans-serif;
}
#icons {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  height: auto;
  width: 100%;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  float: center;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background-color: #3B5998
  color: white;
}
.fa-twitter {
  background-color: #55ACEE;
  color: white;
}
.fa-linkedin {
  background-color: #0077B5
  color: white;
}
