@import url(https://fonts.google.com/specimen/Quicksand);
header {
font-size: 36px;
text-align: left;
background-color: #b87bbd;
font-family: "Quicksand", sans-serif;
}
/*font for quotations*/
@import url(https://fonts.google.com/specimen/Bellefair);
h1 {
  font-size: 28px;
  text-align: center;
  font-family: "Bellefair", serif;
}
/*font for subtext*/
h2 {
font-size: 18px;
text-align: left;
font-family: "Quicksand", sans-serif;
}
